<footer>
    <article>
      <i class="fas fa-credit-card fa-2x icon"></i>
      <p class="negrita">Pagá con tarjeta o en efectivo</p>

      <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
      <i class="fas fa-home fa-2x icon"></i>
      <p class="negrita">Envío gratis desde los $ 2.500</p>

      <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article>
      <i class="fas fa-user-shield fa-2x icon"></i>
      <p class="negrita">Seguridad, de principio a fin</p>

      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre prtegid@.</p>
    </article>
    <br>
    <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
  </footer>
