<header>
    <div class="fondo-amarillo">
      <div class="logo"><a href="/home"><img src="/images/logoMl.svg"></a></div>
      <form action="" method="get" class="search-form">
        <input type="text" placeholder="Buscar productos, marcas y más" id="buscador" name="buscador">
        <button type="submit" class="boton-busqueda"><i class="fas fa-search"></i></button>
      </form>

      <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
      <div class="boton-menu">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="nav-principal">
        <ul class="nav-izq">
          <li><a href=#>Ofertas</a></li>
          <li><a href=#>Tiendas Oficiales</a></li>
          <Li><a href=#>Vender</a></Li>
          <Li><a href=#>Ayuda</a></Li>
        </ul>
        <br>
        <ul class="nav-der">
          <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <Li><a href=#>Mis compras <i class="fas fa-shopping-basket"></i></a></Li>
        </ul>
      </nav>
    </div>
  </header>