<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadolibre</title>
    <link rel="stylesheet" href= "/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
  <header>
    <div class= "fondo-amarillo">
      <div class= "logo"><a href="/home"><img src="/images/logoMl.svg"></a></div>
      <input type="text" placeholder="Buscar productos, marcas y más" id="buscador" name="buscador">
      <div class="buscar-icon">
        <i class="fas fa-search fa-2x"></i>
      </div>
    
      <p class= "negrita">Comprá en cuotas y sin tarjeta de crédito</p>
      <div class= "boton-menu">
        <i class="fas fa-bars"></i>
      </div>
      <ul class= "descripciones">
        <li><a href= #>Ofertas</a></li>
        <li><a href=#>Tiendas Oficiales</a></li>
        <Li><a href=#>Vender</a></Li>
        <Li><a href=#>Ayuda</a></Li>
      </ul>
    <br>
      <ul class="descripciones1">
        <li><a href="/registro">Creá tu cuenta</a></li>
        <li><a href="/login">Ingresá</a></li>
        <Li><a href=#>Mis compras</a></Li>
      </ul>
    </div>
  </header>
    <section>
      <img class="banner" src="/images/banner.jpg">
    </section>
  <main>
    <p class="titulares">Basado en tu última visita</p>
    <section>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/cafetera.jpg"></a>
              <i class="fas fa-truck fa-2x"></i>
              <p class="precios">$6770</p>
              <p class="descuentos">40% OFF</p>
              <p class="descripcionesProd">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/mac.jpg"></a>
            <i class="fas fa-truck fa-2x"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <p class="descripcionesProd">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/samsungS10.jpg"></a>
          <i class="fas fa-truck fa-2x"></i>
          <p class="precios">$70.500</p>
          <p class="descuentos">15% OFF</p>
          <p class="descripcionesProd">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/samsungTV.jpg"></a>
          <i class="fas fa-truck fa-2x"></i>
          <p class="precios">$34.000</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripcionesProd">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
    </section>
    <p class="titulares">Ofertas</p>
    <section>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/cafetera.jpg"></a>
          <i class="fas fa-truck fa-2x"></i>
          <p class="precios">$6770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripcionesProd">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/mac.jpg"></a>
          <i class="fas fa-truck fa-2x"></i>
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p class="descripcionesProd">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/samsungS10.jpg"></a>
          <i class="fas fa-truck fa-2x"></i>
          <p class="precios">$70.500</p>
          <p class="descuentos">15% OFF</p>
          <p class="descripcionesProd">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
      <article>
        <a href=#>
          <div class = "fondo-blanco">
          <img src="/images/samsungTV.jpg"></a>
          <i class="fas fa-truck fa-2x"></i>
          <p class="precios">$34.000</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripcionesProd">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
          </div>
      </article>
  </section>
</main>
<footer>
  <article>
    <i class="fas fa-credit-card fa-2x icon"></i>
    <p class= "negrita">Pagá con tarjeta o en efectivo</p>

    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
      pago. ¡Y siempre es seguro!</p>
  </article>
  <article>
    <i class="fas fa-home fa-2x icon"></i>
    <p class= "negrita">Envío gratis desde los $ 2.500</p>

    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
      productos. Es un beneficio de MercadoPuntos.</p>
  </article>
  <article>
    <i class="fas fa-user-shield fa-2x icon"></i>
    <p class= "negrita">Seguridad, de principio a fin</p>

    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
      porque estás siempre prtegid@.</p>
  </article>
  <br>
  <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
</footer>

</body>
</html>