<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercadolibre</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <header>
    <div class="fondo-amarillo">
      <div class="logo"><a href="/home"><img src="/images/logoMl.svg"></a></div>
      <form action="" method="get" class="search-form">
        <input type="text" placeholder="Buscar productos, marcas y más" id="buscador" name="buscador">
        <button type="submit" class="boton-busqueda"><i class="fas fa-search"></i></button>
      </form>

      <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
      <div class="boton-menu">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="nav-principal">
        <ul class="nav-izq">
          <li><a href=#>Ofertas</a></li>
          <li><a href=#>Tiendas Oficiales</a></li>
          <Li><a href=#>Vender</a></Li>
          <Li><a href=#>Ayuda</a></Li>
        </ul>
        <br>
        <ul class="nav-der">
          <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <Li><a href=#>Mis compras <i class="fas fa-shopping-basket"></i></a></Li>
        </ul>
      </nav>
    </div>
  </header>
  <br>
  <main>
    <form action="#" method="post" enctype="multipart/form-data">
      <p><input type="text" placeholder="Nombre y Apellido" id="registro-nombreCompleto" name="nombre"></p>
      <p><input type="text" placeholder="Nombre de Usuario" id="registro-usuario" name="usuario"></p>
      <p><input type="email" placeholder="Email" id="registro-email" name="email"></p>
      <p><label for="nacimiento">Fecha de nacimiento</label></p>
      <p><input type="date" id="registro-nacimiento" name="nacimiento"></p>
      <p><input type="text" placeholder="Domicilio" id="registro-domicilio" name="domicilio"></p>
      <br>
      <h2>Perfil del usuario</h2>
      <div class="perfil">
        <p><input type="radio" name="perfil" value="comprador" id="perfilOp1"> Comprador</p>
        <p><input type="radio" name="perfil" value="vendedor" id="perfilOp2"> Vendedor</p>
      </div>
      <br>
      <h2>Intereses</h2>
      <div class="intereses">
        <input type="checkbox" name="intereses" value="electro" id="electro">
        <label for="electro">Electro</label>
        <input type="checkbox" name="intereses" value="Moda" id="moda">
        <label for="moda">Moda</label>
        <input type="checkbox" name="intereses" value="hogar" id="hogar">
        <label for="hogar">Hogar</label>
        <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria">
        <label for="jugueteria">Jugueteria</label>
        <input type="checkbox" name="intereses" value="vida-sana" id="vida-sana">
        <label for="vida-sana">Vida sana</label>
      </div>
      <br>
      <p>
      <h2>Elegi tu foto de usuario</h2>
      <input type="file" name="foto" id="foto"></p>
      <br>
      <p><input type="password" placeholder="Elegi tu contraseña" id="registro-contrasena" name="contrasena"></p>
      <p><input type="password" placeholder="Confirma tu contraseña" id="registro-confirma-contrasena"
          name="confirma-contrasena"></p>
      <button type="submit" id="boton-registrarse">Enviar</button>
      <button type="reset" id="boton-reset">Borrar</button>
      <br>
      <br>
    </form>
  </main>
  <footer>
    <article>
      <i class="fas fa-credit-card fa-2x icon"></i>
      <p class="negrita">Pagá con tarjeta o en efectivo</p>

      <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
      <i class="fas fa-home fa-2x icon"></i>
      <p class="negrita">Envío gratis desde los $ 2.500</p>

      <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article>
      <i class="fas fa-user-shield fa-2x icon"></i>
      <p class="negrita">Seguridad, de principio a fin</p>

      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre prtegid@.</p>
    </article>
    <br>
    <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
  </footer>

</body>

</html>