<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
</head>

<body>
    <header>
        <div class="fondo-amarillo">
            <div class="logo"><a href="/home"><img src="/images/logoMl.svg"></a></div>
            <form action="" method="get" class="search-form">
                <input type="text" placeholder="Buscar productos, marcas y más" id="buscador" name="buscador">
                <button type="submit" class="boton-busqueda"><i class="fas fa-search"></i></button>
            </form>

            <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
            <div class="boton-menu">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="nav-principal">
                <ul class="nav-izq">
                    <li><a href=#>Ofertas</a></li>
                    <li><a href=#>Tiendas Oficiales</a></li>
                    <Li><a href=#>Vender</a></Li>
                    <Li><a href=#>Ayuda</a></Li>
                </ul>
                <br>
                <ul class="nav-der">
                    <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <Li><a href=#>Mis compras <i class="fas fa-shopping-basket"></i></a></Li>
                </ul>
            </nav>
        </div>
    </header>





    <footer>
        <article>
            <i class="fas fa-credit-card fa-2x icon"></i>
            <p class="negrita">Pagá con tarjeta o en efectivo</p>

            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-home fa-2x icon"></i>
            <p class="negrita">Envío gratis desde los $ 2.500</p>

            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield fa-2x icon"></i>
            <p class="negrita">Seguridad, de principio a fin</p>

            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</p>
        </article>
        <br>
        <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>

</body>

</html>